<div class="jumbotron">
    <h1>CASA DOLLAR RESTFUL</h1>
    <p class="lead">Julio Alan Fernando Vidaurre Farfán - 1704002004</p>    
</div>
<div class="row">
    <div class="col-md-12">
        <h2>Servicios disponibles</h2>
        <h4>GET</h4>
        <p>http://localhost:56746/api/cliente/findall</p>
        <p>http://localhost:56746/api/cliente/{id}</p>
        <p>http://localhost:56746/api/continente</p>
        <p>http://localhost:56746/api/pais</p>
        <p>http://localhost:56746/api/continente/{continenteid}/pais</p>

        <h4>POST</h4>
        <p>http://localhost:56746/api/cliente</p>
    </div>
    
</div>
