@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Casa Dollar</h1>
    <p class="lead">Aplicación para el control de gastos de Casa Dollar</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h4>Programación X</h4>
        <p>
            Examen Final
        </p>
    </div>
    <div class="col-md-8">
        <h4><b>Julio Alan Fernando Vidaurre Farfán - 1704002004</b></h4>
    </div>
</div>